<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  {% include jsutil.html %}
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      <div class="legal">
        <span class="links">
          <span class="wrapper">
	        <span class="footer-link">
	          <a href="{{ site.baseurl }}/privacy.html">Data Privacy</a>
	        </span>
	        <span class="footer-link">
	          <a href="{{ site.baseurl }}/contact.html">Contact</a>
	        </span>
          </span>
        </span>
      </div>
      <div class="affiliates">
        <div class="affiliation-logos">
          {% for a in site.affiliates %}
          <div class="affiliation-logo">
	        <a href="{{ a[1].url }}">
	          <img src="{{ site.baseurl }}/{{ a[1].logo }}" alt="{{ site.title | escape }}" height="{{ a[1].height }}" width="{{ a[1].width }}"  style="{{ a[1].style }}">
	        </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </footer>

  </body>

</html>
