<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  {% include jsutil.html %}
  <body>

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    <header class="site-header" role="banner">
      <script>
        function openNav() {
	          document.getElementById("myNav").style.height = "100%";
        }

        function closeNav() {
	          document.getElementById("myNav").style.height = "0%";
        }
      </script>
      <div class="header-left">
        <span class="header-left-content">
          <span class="mutor-logo"> 
	          <a href ="{{ site.url }}"><img src="{{ site.baseurl }}/assets/images/mutor_logo_f1.png" alt="{{ site.title | escape }}" width="260px" height="98px"></a>
          </span>
          <span class="menu">
	          <nav class="site-nav">
	            <div id="overlay" class="overlay">
	              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	              <div class="overlay-content">
	                <ul class="top-level-menu">
                    {% assign found = false %}
                    {% for p in site.menu %}
                    {% if p == "units" %}
                    {% assign found = true %}
                    <li>
		                  <a class="page-link" href="">Units</a>
    		              <ul class="second-level-menu" id="units-submenu">
    		                {% for u in site.units %}
    		                <li><a href="{{ site.baseurl }}{{ u.url }}">Unit {{ u.number }}: {{ u.title }}</a></li>
    		                {% if forloop.last == false %}
    		                {% endif %}
    		                {% endfor %}
    		              </ul>
    		            </li>
                    <li class="sep"><span class="sep-space"></span><span class="sep-line"></span><span class="sep-space"></span></li>
                    {% elsif p == "events" %}
                    {% assign found = true %}
                    <!-- <li class="sep"><span class="sep-space"></span><span class="sep-line"></span><span class="sep-space"></span></li> -->
                    <li>
		                  <a class="page-link" href="">Events</a>
    		              <ul class="second-level-menu" id="events-submenu">
    		                {% for u in site.posts reversed %}
    		                <li><a href="{{ site.baseurl }}{{ u.url }}">
                            {{ u.presentation-date }} : {{ u.topic }}
                        </a></li>
    		                {% if forloop.last == false %}
    		                {% endif %}
    		                {% endfor %}
    		              </ul>
    		            </li>
                    {% else %}
                    {%- for path in page_paths -%}
                    {% if path == p %}
                    {% assign found = true %}
                    <!-- <li class="sep"><span class="sep-space"></span><span class="sep-line"></span><span class="sep-space"></span></li> -->
                    {% assign page = site.pages | where: "path", path | first %}
    		            <li><a class="page-link" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                    <li class="sep"><span class="sep-space"></span><span class="sep-line"></span><span class="sep-space"></span></li>
                    {% break %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% if found == false %}
                    {% assign lst = p | split: ":" %}
                    <li><a class="page-link" href="{{ site.baseurl }}{{ lst[0] }}">{{ lst[1] }}</a></li>
                    <li class="sep"><span class="sep-space"></span><span class="sep-line"></span><span class="sep-space"></span></li>
                    {% endif %}
                    {% endfor %}
                    <!-- <li class="sep"><span class="sep-space"></span><span class="sep-line"></span><span class="sep-space"></span></li> -->
    	            </ul>
	              </div>
	            </div>

	            <span class="burger-menu" onclick="openNav()">&#9776;</span>

	            <script>
	              function openNav() {
		                let color = MUTOR.rbright();
                    let submenus = ["units-submenu", "events-submenu"];
                    for(i = 0; i < submenus.length; i++){
		                    let e = document.getElementById(submenus[i]);
                        if(e){
		                        e.style["background-color"] = color;
		                        e = document.getElementsByTagName("BODY");
		                        e[0].style["overflow"] = "hidden";
		                        
                        }
                        e = document.getElementById("overlay");
		                    e.style["position"] = "fixed";
		                    e.style["overflow-y"] = "auto";
		                    e = document.getElementById("overlay");
		                    e.style["background-color"] = color;
		                    e.style.height = "100%";
	                  }
                }

	              function closeNav() {
		                let e = document.getElementsByTagName("BODY");
		                e[0].style["overflow"] = "auto";
		                e = document.getElementById("overlay");
		                e.style["overflow"] = "hidden";
		                e = document.getElementById("overlay");
		                e.style.height = "0%";
	              }
	            </script>
	          </nav>
          </span> <!-- menu -->
        </span> <!-- header-left-content -->
      </div>
      <div class="header-search">
        <span class="header-right-content">
          <span class="mutor-search-field">{% include search %}</span>
        </span>
      </div>
      <div class="header-coursetitle">
        <span class="header-right-content">
          {% if site.course-title %}
          <span class="course-title">{{ site.course-title }}</span>
          {% endif %}
        </span>
      </div>
      
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      <div class="legal">
        <span class="links">
          <span class="wrapper">
	          <span class="footer-link">
	            <a href="{{ site.baseurl }}/privacy.html">Data Privacy</a>
	          </span>
	          <span class="footer-link">
	            <a href="{{ site.baseurl }}/contact.html">Contact</a>
	          </span>
            <span>
              test
            </span>
          </span>
        </span>
      </div>
      <div class="affiliates">
        <div class="affiliation-logos">
          {% for a in site.affiliates %}
          <div class="affiliation-logo">
	          <a href="{{ a[1].url }}">
	            <img src="{{ site.baseurl }}/{{ a[1].logo }}" alt="{{ site.title | escape }}" height="{{ a[1].height }}" width="{{ a[1].width }}"  style="{{ a[1].style }}">
	          </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </footer>

  </body>

</html>
